$red: #ae0814;
.ant-radio-inner:after {
  background-color: $red !important;
}
.ant-radio-checked .ant-radio-inner {
  border-color: $red !important;
}

.ant-radio-wrapper:hover .ant-radio,
.ant-radio:hover .ant-radio-inner,
.ant-radio-input:focus + .ant-radio-inner {
  border-color: $red !important;
}
