.myModal {
  .myModalButton {
    background-color: #ae0814;
    display: block;
    text-align: right;
    border-color: #ae0814;
    margin-left: auto;
    margin-right: 8px;
    color:#fff;
  }
  .myModalButton:hover {
    background-color: #be3943;
    border-color: #be3943;
  }
}
