$red: #ae0814;
$lightGray: #ddd;
$darkerGray: #999;

@mixin links{
  text-decoration: none;
  display: block;
  color: #333333;
  font-size: 14px;
  margin-bottom: 6px;
  &:hover{
    color: $red;
  }
}
@mixin headingRed{
  color: $red;
  text-decoration: none;
  margin-bottom: 10px;
  font-size: 18px;
  // font-family: 'Open Sans','Open Sans';
  text-transform: uppercase;
  font-weight: 500;
  border-bottom: 2px solid $red;
}
