.edit-container {
    padding-left: 30px;
    width: 100%;
    @media screen and (max-width: 700px) {
      width: 100%;
      padding: 0;
      margin-top: 20px;
  }
    h1 {
        text-transform: uppercase;
        font-weight: 600;
        color: #444;
        font-size: 2rem;
        margin-top: -6px;
        margin-bottom: 8px;
    }
    h2 {
        padding: 0 0 5px;
        border-bottom: 1px solid #eee;
        font-size: 1.3rem;
    }
    .item {
        flex-basis: 49%;
         padding: 25px;
         padding: 20px 0px;
        .err-message-wrapper {
          color: #e02b27;
          font-size: 12px;
        }
        .required {
          margin-top: 25px;
          color: #ae0814;
        }
        label,
        input {
          display: block;
          margin-bottom: 8px;
        }
        .names {
          width: 75%;
        }
        @media only screen and (max-width: 600px) {
          .names {
            width: 100%;
          }
        }
        label {
          font-weight: 700;
          position: relative;
          color: #333;
          &::after {
            content: "*";
            color: red;
            font-size: 1rem;
            margin: 0 0 0 5px;
            position: absolute;
            top: 0;
          }
        }
        input {
          background-color: #fff;
          border: 1px solid #cccccc;
          width: 75%;
          padding: 6px;
  
          &:focus {
            outline: none;
          }
        }
  
        p {
          color: #333;
        }
      }
      div{
          span{
            font-weight: 500;
            cursor: pointer;
            font-size: 15px;
            &:hover{
                color: #af3025; 
            }
          }
      }
      .btn-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
      button {
        background: #ae0814;
        font-size: 15px;
        color: #fff;
        border: none;
        padding: 8px 5px;
        cursor: pointer;
        width: 70px;
        text-transform: uppercase;
        margin-top: 30px;
        &:hover {
            background-color: #be3943;
        }
    }
  }
}